<h1>Welcome Back, <%= username %>! </h1>

<form action="/login" method="GET">
    <button type="submit">login</button>
</form>

<form action="/register" method="GET">
    <button type="submit">register</button>
</form>