<h1>Welcome home, <%= username %>!</h1>

<form action=<%= isLoggedIn?'/logout?_method=DELETE':'/login'%>
method=<%= isLoggedIn?'POST':'GET'%>
>
  <button type="submit"><%= isLoggedIn?'Log Out':'login'%></button>
</form>

<form action="/register" method="GET">
  <button type="submit">register</button>
</form>
